includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
  checkOctaneCompatibility: true
  noEnvCallsOutsideOfConfig: true
  checkModelAppends: true
  paths:
    - app
    - database
  level: 7
  cognitive_complexity:
    class: 85
    function: 8
  tmpDir: ./var/cache/phpstan
  ignoreErrors:
    - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper#'
