includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/tomasvotruba/cognitive-complexity/config/extension.neon

parameters:
  paths:
    - app
    - database
  level: 7
  cognitive_complexity:
    class: 85
    function: 8
  checkOctaneCompatibility: true
  tmpDir: ./var/cache/phpstan
  ignoreErrors:
    - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*::allowedIncludes\(\)#'
